* {
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  border: 1px solid rebeccapurple;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
img{
    display: inline-block;
   position: absolute;

   bottom: 393px;
    height: 20vh;
    width: 17vw;
}

.social-media {
  margin: auto;
  display: flex;
  margin-right: 5vw;
  font-size: 25px;
  margin-top: 15px;
}
.youtube {
  margin-right: 30px;
}

.container {
  position: relative;
  top: 43vh;
}

p{
    position: relative;
    left: 24vw;
    width: 40vw;
    font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),
    3px 4px 4px rgba(179, 147, 211, 0.15), 4px 6px 4px rgba(179, 147, 211, 0.2),
    5px 8px 4px rgab(179, 147, 211, 0.25);
}
